<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jay sullivan using data from Mapbox.com and Darksky.net</p>
        <img class="portrait" src="/img/jay.jpg">
   
    </div>
    {{>footer}}
</body>

</html>